// Grid
$sm: 480px;
$md: 798px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;


// Colors
// Use these colors only if the color schemes do not provide the necesarry set of colors.
$gray: #F7F8F9;
